

<!-- main content -->
<div class="row">
  <div class="column side">
     <ul>
       <li>AAAA</li>
       <li>AAAA</li>
       <li>AAAA</li>
       <li>AAAA</li>
       <li>AAAA</li>
     </ul>
  </div>
  
  <div class="column middle">
    <div class="row">
       <!-- header -->
      <div class="header">
        <h1>CONTACT</h1>
     </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quas aspernatur, assumenda fugiat ut soluta nesciunt deleniti ducimus praesentium dolorem? Cum deleniti ducimus odit perspiciatis. Velit optio a eos distinctio.
        </p>
      </div>
      <div class="col">
         <!-- map -->
        <div class="map-container">
          <div class="map-frame">
            <div id="map"></div>
         </div>
       </div>
      </div>
    </div>
  </div>
   
</div>



  

